/* Light Mode (Default) Styles */

/* Navbar container */
body {
    background-color: #fffff8;
    color: #1d1d1d;
    font-family: 'Poppins', sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fffff8;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-logo a {
    text-decoration: none;
    color: #1d1d1d;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.navbar-links li a {
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar-links li a:hover {
    color: #4A5759;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-icons button {
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-icons button:hover {
    transform: scale(1.1);
}

.profile-icon {
    border-radius: 50%;
    cursor: pointer;
}

/* Dark Mode Styles */

body.dark-mode {
    background-color: #1d1d1d;
    color: #ffffff;
}

body.dark-mode .navbar-container {
    background-color: #1e1e1e;
    color: #ffffff;
    border-bottom: 1px solid #444;
}
body.dark-mode .navbar-logo img{
    filter: invert(1);
}
body.dark-mode .navbar-logo a {
    color: #ffffff;
}

body.dark-mode .navbar-links li a {
    color: #ffffff;
}

body.dark-mode .navbar-links li a:hover {
    color: #b3b3b3;
}

body.dark-mode .navbar-icons button img {
    filter: invert(1);
}
